Django
psycopg2-binary  # If using PostgreSQL, otherwise comment this out if you're using SQLite.
openai
dj-database-url
pydub
sqlparse
whitenoise
django-storages==1.13.2
b2sdk==1.19.0
boto3
ContentFile